#mainNav {
    background-color: burlywood;
}
.header{
    padding-top:50px;
    text-align:center;
    background-color:beige;
    height:350px;
}

.brandText {
    font-family: Georgia, serif;
    font-size:100px;
    font-weight:900;
}
.brandTextDescription {
    font-family: Georgia, serif;
    font-size:30px;
}

#stickman{
    margin-left:50px;
    height:100px;
    width:50px;
}

.center{
    background-color:blanchedalmond;
    padding-top:10px;
    width:100%;
    margin: 0 auto;
    display: inline-block;
    text-align:center;
}
.center_list{
    float:left;
    
    text-align:center;
    width:33%;
}

.center_list_img{
    margin:5px;
    width:100%;
    height:300px;
}