#mainNav {
    
    background-color: burlywood;
}
.header{
    padding-top:50px;
    text-align:center;
    background-color:beige;
    height:350px;
}

.brandText {
    font-family: Georgia, serif;
    font-size:100px;
    font-weight:900;
}
.brandTextDescription {
    font-family: Georgia, serif;
    font-size:30px;
}

#stickman{
    margin-left:50px;
    height:100px;
    width:50px;
}

.center{
    background-color:blanchedalmond;
    padding-top:10px;
    width:100%;
    margin: 0 auto;
    display: inline-block;
    text-align:center;
}
.center_list{
    float:left;
    
    text-align:center;
    width:33%;
}

.center_list_img{
    margin:5px;
    width:100%;
    height:300px;
}
#services{
    background-color:aquamarine;
}

.service_list{
    list-style:square;
    margin-left:10px;

}

.service_list_title {
    font-family: Georgia, serif;
    font-size: 45px;
    margin: 10px;
    padding-left: 10px;
}

.service_list_item {
    font-family: Georgia, serif;
    font-size:20px;
    margin:0 0 8px 0;
    padding-left: 10px;
}
.footer {
    color: white;
    font-family: Georgia, serif;
}