body
{
}

#form_space {
    width: 100%;
    height: 300px;
    background-color: beige;
}

#formulario{
    height:100%;
    width: 500px;
    margin:auto;
    border: 6px ridge burlywood;
}

#mainNav {
    background-color: burlywood;
}

#navbar-brand{
    left:0px;
}

#formulario {
    text-align: center;
    font-family: Georgia, serif;
}
#send_form{
    background-color:black;
    color:white;
    border:2px solid green;
    width:100px;
    height:40px;
    border-radius: 12px;
}
.footer {
    color: white;
    font-family: Georgia, serif;
}